<% var title = "NEXT PAGE" %>
<html>
<% include includes/_head.ejs %>
<body>

<% include includes/_navbar.ejs %>

<main>

  <div class="container">
    <div class="shadow p-3 mt-5 bg-white rounded border">ここは <%= title %> です。</div>
  </div><!-- /container -->

</main>

</body>
</html>
